.service-container {
    height: 80vh;
    width: auto;
    border: black solid 2px;
    align-items: left;
    align-content: left;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background: rgb(81, 89, 202);
    opacity: .9;
    margin: 10px 5% 10px 5%;
    padding: 8px 40px 8px 40px;
    /* margin-top: 20px; */
}

.services {
    display: flex;
    flex-direction: row;
    padding: 30px 40px 8px 40px;
    height: auto;
    background: rgb(81, 89, 202);
    opacity: .9;
}

h2 {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgb(81, 89, 202);
    opacity: .9;
    margin: auto;
    padding: 8px 40px 8px 40px;
}

.service-content{
    border: black solid 1px;
    flex-direction: column;
    padding: 30px 30px 8px 30px;
    width: 250px;
    height: 250px;
    opacity: .9;
    margin: auto;
};

.info-content{
    border: transparent;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* padding: 8px 40px 8px 40px; */
};