.service-container {
    height: fit-content;
    width: auto;
    border: transparent;
    align-items: center;
    /* align-content: left; */
    justify-content: center;
    flex-wrap: nowrap;
    background: transparent;
    opacity: .99;
    padding: 2px 40px 2px 40px;
    margin-left: 0%;
    margin-right: 0%;
} 

.services {
    display: flex;
    flex-direction: row;
    padding: 8px 40px 8px 40px;
    height: auto;
    background: transparent;
    opacity: .99;
}

.img-container {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.adrian {
    display: flex;
    height: 80vh;
    width: 100%;
    border: none;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: transparent;
    /* margin: 10px 5% 10px 5%; */
    /* padding: 8px 40px 8px 40px; */
    /* margin-top: 20px; */
}

h2 {
    height: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(81, 89, 202);
    opacity: .99;
    border: black solid 1px;
    margin: auto;
    padding: 8px 40px 8px 40px;
}

.service-content{
    border: black solid 1px;
    flex-direction: column;
    padding: 30px 30px 8px 30px;
    width: 250px;
    background: rgb(81, 89, 202);
    height: 250px;
    opacity: .99;
    margin: auto;
};

.info-content{
    border: transparent;
    /* margin: auto; */
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* padding: 8px 40px 8px 40px; */
};

.about-container {
    height: 80vh;
    width: 100%;
    border: transparent;
    align-items: center;
    /* align-content: left; */
    justify-content: center;
    flex-wrap: nowrap;
    background: transparent;
    opacity: .99;
    /* margin: 10px 5% 10px 5%; */
    padding: 2px 40px 2px 40px;
    /* margin-top: 20px; */
    margin-left: 0%;
    margin-right: 0%;
} 