.Login {
  background: url('https://www.teahub.io/photos/full/267-2677280_pin-peacock-feathers-galaxy-desktop-wallpaper-download-peacock.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.login-container {
    background:transparent;
    height: 90vh;
    width: auto;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;  
    justify-content: center;
    flex-wrap: nowrap;
}

.container {
    height: 50vh;
    width: 50vh;
    border: black solid 2px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    background: rgb(81, 89, 202);
    opacity: .8;
}

.input-box {
    width: 35vh;
    height: 7vh;
    font-size: 16px;
    background: black;
    color: white;
    opacity: .8;
}

.buttons {
    width: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header{
    height: 10vh;
    padding: 8px 40px 8px 40px;
    display: flex;
    background: black;
    opacity: .8;
    align-items: center;
}

.title {
    display: flex;
    font-family: cursive;
    font-size: 30px;
    color: rgb(81, 89, 202);
}

.logo {
    display: flex;
    height: 10vh;
    width: 10vh;
    
}