@import url('https://fonts.google.com/specimen/Birthstone');

.App {
  background: url('https://www.teahub.io/photos/full/267-2677280_pin-peacock-feathers-galaxy-desktop-wallpaper-download-peacock.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}
