.inquiries-exterior {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20vh 20vh 20vh 20vh;
    background: rgb(81, 89, 202);
    opacity: .8;
}

.inquiries-menu {
    height: 10vh;
    width: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: cursive;
    color: black;
    background: transparent;
    margin: 5px;
    border: solid black 2px;
    padding: 0px 10px 0px 10px;
}


.inquiries-container {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;  
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    position: relative;
    padding: 10px;
}

.inquiries-inputs{
    height: 10vh;
    width: 40vh;
    margin: 5px;
}

.inquiries-msg {
    height: 40vh;
    width: 40vh;
    overflow: auto;
    padding-top: 1;
    padding-left: 1;
    font-size: large;
    line-height: 1em;
    border: solid black 1px;
}